@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body{ 
font-family: 'Yanone Kaffeesatz', sans-serif; 
background:orange; 
  body }
  
  img {
  }

#joseph{
  background: blue;
width:500px;
padding-left: 10px; 
padding-bottom; 15px; 
border-radius: 25px;
border: 2px solid;
background:blue; 
} 



